body {
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: white;
}
.title {
  text-align: center;
  margin-top: 150px;
}
.title_sub {
  text-align: center;
}
* {
  text-decoration: none;
}
.gnb {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
}
.gnb > a {
  color: #999999;
}
.gnb > a:hover {
  color: black;
}
.food_wrap {
  display: flex;
}
.food {
  width: fit-content;
  background-color: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  padding: 0.4rem;
  margin: 0.6rem;
}
.food-img {
  width: 200px;
  height: 200px;
}
.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}
